.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 10rem;

  button {
    padding: 0.5rem;
    border: 2px solid #757575;
    color: #757575;
    font-weight: 700;
    transition: all 200ms ease;

    &:hover {
      background: #757575;
      color: white;
    }
  }
}
