.player-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
}

.time-control {
  display: flex;
  align-items: center;
  width: 50%;

  input {
    width: 100%;
  }

  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1rem;

  svg {
    cursor: pointer;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
  }
}

.input-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 16px;
  border-radius: 16px;
}

.input-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
