.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  img {
    width: 20%;
    border-radius: 50%;
  }

  .song-name {
    padding: 3rem 1rem 1rem 1rem;
  }

  .song-artist {
    font-size: 1rem;
    font-weight: 500;
    color: #757575;
  }
}
