@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    outline: none;
  }
}

@import './song';
@import './player';
@import './library';
@import './nav';
